# Working with data 2017. Class 1 
## Contact
Javier Garcia-Bernardo
garcia@uva.nl


## Week's plan:
### Monday:
1. About Python: Jupyter notebooks and packages
2. Python:
  - 2.1 Data types: Numbers, strings, booleans
  - 2.2 Data structures (I): List
  - 2.3 Code (I): How Python works
3. Pandas (I): Read csv
4. Seaborn (I): First plots

### Wednesday:
2. Python
  - 2.2 Data structures (II): Sets, dictionaries, numpy array, pandas dataframe
3. **Pandas (II): Basic operations with dataframes**

### Thursday:
2. Python
  - 2.3 Code (II): Functions, for-loops and if-else statements
  - 2.4 Debugging Python
4. Seaborn (II): Some other plots

In [ ]:
##Some code to run at the beginning of the file, to be able to show images in the notebook
##Don't worry about this cell

#Print the plots in this screen
%matplotlib inline 

#Be able to plot images saved in the hard drive
from IPython.display import Image 

#Make the notebook wider
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:90% !important; }</style>"))

---

# 3. Pandas (II): Basic operations with dataframes

## 3.1 Read files

**CSV = comma separated values file**
- The problem with csvs is that names inside your fields can have commas. A solution is to use quotes in all the fields. If you do this the computer undestands that commas inside quotes do not separate fields. Another solution is separate fields with tabs (\t)

**TSV = tab separated values file**
- However most people (including me) call them csv.
- An example of a csv:

`person    year    score
1    2000    8
2    2000    1
3    2000    3
1    2010    7
2    1010    3
`

**We use pandas to read them and save then in a data structure call dataframe**

In [ ]:
#Load the required library
import pandas as pd

## 3.1.1 pd.read_csv
- Pandas function to read csv files.
- A function is a piece of code that takes as input some standard input and returns some standard output. 
- In this case, it takes as input  a file_name and return a DataFrame

**Other Examples**
- sorted() is also a function, that takes a list as input and returns you the sorted list
- sum() is also a function, that takes a list as input and returns the sum of its elements
- .pop() is also a function, that takes as input a list and an index to delete, and return you the element in that index
- np.mean() is another

**Argument of a function **
- what it is inside the parenthesis are the arguments, they tell the function how to work

**Arguments of pd.read_csv()**
- **path (required, first argument, no need to write path=)**: `This is required, what is the name of the file. If inside a folder you need to write the name of the folder too. For instance if the file "example.csv" is inside the folder "data", you need to write data/example.csv `
- **sep (default ",")**`: "\t" for tab, "," for comma, ";" for semicolon, etc`
- **header (default 0)**`: 0 if the first line has column names. None if the first line has already data.`
- **skiprows (default 0)**`: number of lines to skip`
- **skipfooter (default 0)**`: number of lines to skip at the end`
- **usecols (default None)**`: what columns do you want to read? The default is all, but you can say [0,3,4] or ["column_x","column_y"]`
- **na_values (default None)**`: what other values should be considered missing (e.g. ["n.a.","-9","-999"])`
- **thousands (default None)**`: what is the thousands separator, usually there is None`
- **decimal (default ".")**`: Americans use "."; Europeans use ","; in science we use ".".`
- **encoding (default "UTF-8")**:  `"UTF-8" (great), "UTF-16", "ISO-8859-1" (W Europe), "SHIFT-JIS" (Japan), "ASCII" (US files)

## 3.1.2 Reading excel or stata
- For excel files we have pd.read_excel
- For stata files we have pd.read_stata

**We'll focus on CSVs, because they are universal, you can read them with any text editor, and you can export your data as csvs from any program**
- From stata to csv: `outsheet id gender race read write science using outfile.csv , comma `
- From excel to csv: `Save as -> csv (or text to use tabs)`

# 3.3. Basic functions on dataframes
We will be using a very small dataset (data/class1_test_csv.csv)
- Uses TABS (\t) as separator: `sep="\t"`
- Does not have an index_col: `index_col=None`
- Has 4 rows at the start with comments: `skiprows=4`
- Uses "-9" as missing value: `na_values=["-9"]`
- The rest are the default options, so we don't need to write them

In [ ]:
#First we reed our data
import pandas as pd
df = pd.read_csv("data/class1_test_csv.csv",sep="\t",skiprows=4,na_values=["-9"])

In [ ]:
#And print its head
df.head(10)

## 3.3.1 Find the type of variables

In [ ]:
#Useful for debugging (e.g. getting a string column when it should be a number --> probably you have a werid coding for missing values)
df.dtypes

## 3.3.2 Descriptives

In [ ]:
#Describe the data
#use df.describe? (outside a comment) to get help
df.describe()

**You can calculate the mean with df.mean()** (or the median, std, etc)

In [ ]:
## Calculate mean by columns
## axis is a very common argument. The computer by default gets the mean by column 
#df.mean() === df.mean(axis=0)
df.mean(axis=0)

In [ ]:
df.mean(axis=1) #By rows

## 3.3.3 Keeping columns

In [ ]:
df.head()

In [ ]:
## Keep ONE column
df["treatment"]

In [ ]:
## Keep SEVERAL column
df[["year","treatment"]]

## 3.3.4 Keeping rows (slicing like list). df.iloc[slice] (not too useful)

In [ ]:
df.iloc[:5]

## 3.3.5 Keeping rows (filtering like np array). df[filter] (very useful)

#### In numpy arrays

In [ ]:
import numpy as np

#First we create the array
numbers1_10 = np.arange(10)
numbers1_10

In [ ]:
#We can create the condition
condition = numbers1_10 < 5
print(condition)

In [ ]:
numbers1_10[condition]

#### Now for panda dataframes

In [ ]:
#For example we want to keep the rows with the year 2000
#We can create the condition
condition = df["year"] == 2000
print(condition)

In [ ]:
df

In [ ]:
#And then filter. In a numpy array you could do np_array[condition]. Here you do df[condition]
condition = df["year"] == 2000
df_2000 = df[condition] # df[df["year"]==2000]
df_2000

In [ ]:
#If they meet more than one condition
condition = df["year"].isin([2000,2010])
print(condition)

In [ ]:
#If they meet more than one condition
condition = df["year"].isin([2000,2010])
df_2000_2010 = df[condition]
df_2000_2010

## 3.3.6 Keeping rows and columns (very useful) df.loc[condition,[columns]]

In [ ]:
df.loc[df["year"]==2000, ["year","treatment"]]

In [ ]:
#Keeping the columns year and treatment for the year 2000
condition = df["year"] == 2000
df.loc[condition,["year","treatment"]]

In [ ]:
df.head()

## 3.3.7 Math operations

In [ ]:
df["test"] = np.log10(df["score"])
df.head()

In [ ]:
df["score_sq"] = df["score"]**2
df.head()

In [ ]:
del df["score_sq"]
del df["test"]
df.head()

## 3.3.8 Creating new variables

In [ ]:
df["happiness"] = [1,2,3,4,5,6,7,8,9,10,11,12]
df["events"] = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
df.tail()

In [ ]:
#create new rows
df.loc[12] = [2,2017,2,9.,10,23]
df.tail()

## 3.3.9 Cut 
- Make groups from a continuous variable

In [ ]:
#Make three equal groups for happiness
df["group_happiness"] = pd.cut(df["happiness"],3)
df.head()

In [ ]:
#Make two groups for happiness: [0-6] and [6-10] 
df["group_happiness"] = pd.cut(df["happiness"],[0,6,10])
df.tail(8)

## 3.3.10 Sorting the dataframe

In [ ]:
df.sort_values(by=["treatment"], ascending=True)

In [ ]:
df.sort_values(by=["treatment","score"],ascending=[True,False])

## 3.3.11 Dropping rows with missing values

In [ ]:
#In one column
df_no_nan = df.dropna(subset=["score"])
df_no_nan.tail()

In [ ]:
#All columns missing
df_no_nan = df.dropna(how="all")
df_no_nan.tail()

## IMP: 3.3.12 Checking and modifying the name of the columns

In [ ]:
df.columns

In [ ]:
df.columns = ["ID","year","treatment","score","happiness","events",'group_happiness']
df.head()

## 3.3.13 Changing the type of a columns

In [ ]:
df["events"] = df["events"].astype("int")
df.head()

## 3.3.14 Contingency tables

In [ ]:
#Visualize contingency table
pd.crosstab(df["group_happiness"],df["year"])

In [ ]:
#Visualize contingency table
pd.crosstab(df["group_happiness"],df["year"],normalize=True)

## 3.3.15 Replace

In [ ]:
id2name = {1.0: "Alice",
           2.0: "Bob",
           3.0: "Charlie"  
}

df["Name_replace"] = df["ID"].replace(id2name)
df["Name_map"] = df["ID"].map(id2name)
df

In [ ]:
#Replace with missing values (understand what you're doing!!)
df["events"] = df["events"].replace([np.inf,-np.inf],np.nan)
df.head()

## 3.3.16 Apply

In [5]:
#sample data
events = pd.read_csv("data/test_event.csv",sep="\t")
events

        events  year
0    20 events  2005
1   120 events  2010
2     2 events  2015
3  1000 events  2020

In [6]:
def get_number(string):
    """
    Get the number of events from a string with the format "XXX event"
    
    input: string containing "event"
    
    output: number of events
    """
    index_event = string.find("events")
    number_events = string[:index_event-1]
    return int(number_events)

In [7]:
#apply the function to a column
events["n_events"] = events["events"].apply(get_number)
events

        events  year  n_events
0    20 events  2005        20
1   120 events  2010       120
2     2 events  2015         2
3  1000 events  2020      1000

## 3.3.17 Save file

In [ ]:
#Save file into folder data
events.to_csv("data/events_copy.csv",sep="\t",index=None)

## 3.3.18 str methods

In [9]:
events["n_events2"] = events["events"].str[:-7]
print(events.dtypes)
events["n_events2"] = events["n_events2"].astype(int)
print(events.dtypes)

        events  year  n_events n_events2
0    20 events  2005        20        20
1   120 events  2010       120       120
2     2 events  2015         2         2
3  1000 events  2020      1000      1000

In [11]:
events["events_upper"] = events["events"].str.upper()
events

        events  year  n_events n_events2       EVENTS events_upper
0    20 events  2005        20        20    20 EVENTS    20 EVENTS
1   120 events  2010       120       120   120 EVENTS   120 EVENTS
2     2 events  2015         2         2     2 EVENTS     2 EVENTS
3  1000 events  2020      1000      1000  1000 EVENTS  1000 EVENTS

# Summary
### We have
- Python
- External packages
    - numpy and scipy: math
    - pandas: spreadsheet
    - matplotlib (pylab) and seaborn: plot
    - statsmodels: regression (next time)

### Python and packages have
- Data structures: list, numpy arrays, pandas dataframes

### That are composed of
- Other data structures
- Data types: int, floats, strings, dates

### We manipulate the data structures with code
- Operations
- Functions (from python/packages)
- If-else statements 
- Loops