# Working with data 2019
## Contact
Javier Garcia-Bernardo
garcia@uva.nl


## PLAN FOR THE WEEK
### MONDAY
1. Leftover from last week: 2.3 Code (II): Functions, for-loops and if-else statements (in day 3)
2. **Pandas (III): Groupby**
3. Research workflow
4. Tidy data : Basics

### WEDNESDAY
5. Tidying data: Pivoting and melting dataframes
6. Combining data: Merging and concatenating dataframes

### FRIDAY: Data visualization
1. Principles of data visualization
2. One quantitative variable
3. One quantitative + one qualitative
4. Two quantitative variables
5. Heatmaps
6. When to use log-scale

In [1]:
##Some code to run at the beginning of the file, to be able to show images in the notebook
##Don't worry about this cell

#Print the plots in this screen
%matplotlib inline 

#Be able to plot images saved in the hard drive
from IPython.display import Image 

#Make the notebook wider
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:90% !important; }</style>"))

import seaborn as sns
import pylab as plt
import pandas as pd
import numpy as np

## Before starting

In [17]:
df = pd.read_csv("./data/cities_cleaned.tsv",sep="\t")

In [18]:
df.dtypes

Metropolitan areas      object
Year                     int64
CO2_PC                 float64
GDP_PC                 float64
GREEN_AREA_PC          float64
LABOUR_PRODUCTIVITY    float64
UNEMP_R                float64
dtype: object

In [19]:
df.shape

(4650, 7)

In [20]:
df.columns

Index(['Metropolitan areas', 'Year', 'CO2_PC', 'GDP_PC', 'GREEN_AREA_PC',
       'LABOUR_PRODUCTIVITY', 'UNEMP_R'],
      dtype='object')

In [21]:
df.head()

,Metropolitan areas,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
0,Vienna,2000,12.77,45434.48,255.17,94254.60,4.77
1,Vienna,2001,NaN,45479.15,252.68,94805.82,4.83
2,Vienna,2002,NaN,46065.50,250.22,100463.10,5.82
3,Vienna,2003,NaN,45470.92,247.77,97851.61,6.24
4,Vienna,2004,NaN,46148.38,245.34,102259.13,7.20

In [22]:
df.dropna()

,Metropolitan areas,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
0,Vienna,2000,12.77,45434.48,255.17,94254.60,4.77
5,Vienna,2005,15.42,46327.07,242.92,102121.39,7.37
8,Vienna,2008,14.23,48755.43,235.79,102134.84,5.51
15,Graz,2000,10.23,38661.86,997.39,82440.05,3.06
20,Graz,2005,11.99,41570.98,951.75,86716.61,4.20
23,Graz,2008,10.69,43354.61,924.67,89369.25,3.68
30,Linz,2000,14.25,39992.44,1791.92,84577.74,3.10
35,Linz,2005,16.49,42740.00,1756.49,88518.65,3.79
38,Linz,2008,17.58,46865.63,1735.10,91483.80,2.46
60,Sydney,2000,9.37,38565.96,55.38,79357.95,4.35
65,Sydney,2005,9.48,40809.64,53.34,81221.86,4.40
68,Sydney,2008,9.43,40663.05,51.02,79912.14,4.49
75,Melbourne,2000,11.22,36335.73,44.00,75436.48,5.73
80,Melbourne,2005,10.39,38842.16,41.16,76914.39,4.93
83,Melbourne,2008,10.22,38203.83,38.71,74138.52,4.37
90,Brisbane,2000,11.03,32509.64,697.75,67459.13,7.05
95,Brisbane,2005,13.87,40292.69,620.55,78433.29,4.65
98,Brisbane,2008,13.64,43632.33,575.53,81906.68,3.35
105,Perth,2000,7.79,39505.15,54.60,81611.93,6.10
110,Perth,2005,7.82,48893.47,50.58,95147.58,4.50
113,Perth,2008,7.55,58007.35,46.43,106755.68,2.98
120,Adelaide,2000,8.15,31830.63,32.61,69665.32,7.62
125,Adelaide,2005,7.67,35119.69,31.55,72326.78,5.51
128,Adelaide,2008,7.62,35965.05,30.45,72665.32,4.98
135,Gold Coast-Tweed Heads,2000,4.25,32509.64,285.41,69877.96,8.12
140,Gold Coast-Tweed Heads,2005,3.79,40292.69,241.95,81379.91,4.18
143,Gold Coast-Tweed Heads,2008,3.63,43632.33,219.61,84263.32,3.90
165,Brussels,2000,10.73,50468.28,327.98,126423.35,8.93
170,Brussels,2005,9.93,53171.57,312.28,134004.53,10.58
173,Brussels,2008,9.48,54519.18,303.11,134144.08,9.83
...,...,...,...,...,...,...,...
4415,Fort Worth,2005,11.54,48255.42,26.35,97468.39,5.10
4418,Fort Worth,2008,10.51,49993.19,24.62,103638.43,4.88
4430,Charleston,2005,28.55,42410.69,501.88,91805.75,5.41
4433,Charleston,2008,23.94,44045.18,473.77,93797.98,5.55
4445,Tucson,2005,12.18,35052.15,1.18,76224.31,4.48
4448,Tucson,2008,11.17,36299.66,1.13,77321.70,5.65
4460,El Paso,2005,11.67,31545.94,4.06,86094.96,7.01
4463,El Paso,2008,10.78,31229.48,3.86,86694.55,6.25
4475,Baton Rouge,2005,35.71,56160.00,887.36,123027.66,6.42
4478,Baton Rouge,2008,32.05,53050.43,859.25,114917.09,4.27
4490,Austin,2005,12.12,51429.55,189.33,98373.92,4.52
4493,Austin,2008,10.36,52752.47,172.01,102796.87,4.42
4505,Jacksonville,2005,21.75,48317.99,177.23,97645.82,3.68
4508,Jacksonville,2008,18.75,46150.94,167.75,92448.00,5.83
4520,New Orleans,2005,32.87,63980.20,190.53,145444.92,4.46
4523,New Orleans,2008,32.40,61209.75,196.90,144798.75,4.39
4535,Houston,2005,25.82,66320.64,732.73,142221.75,5.56
4538,Houston,2008,22.47,75382.94,683.05,161693.38,4.83
4550,San Antonio,2005,21.48,37690.71,153.96,84670.22,4.99
4553,San Antonio,2008,18.53,38994.34,143.91,88853.62,4.70
4565,Orlando,2005,16.70,55113.82,528.80,106138.95,3.53
4568,Orlando,2008,14.33,51991.82,488.85,100039.10,5.91
4580,Clearwater/Saint Petersburg,2005,13.59,35619.49,291.58,78171.05,3.99
4583,Clearwater/Saint Petersburg,2008,12.49,34001.65,283.83,76620.11,6.70
4595,Tampa,2005,21.19,58857.07,512.37,119730.21,3.69
4598,Tampa,2008,18.19,55829.92,481.46,117411.16,6.33
4610,Miami,2005,15.36,50872.67,154.99,104816.19,4.17
4613,Miami,2008,14.47,49435.87,150.16,99799.52,6.00
4625,Mcallen,2005,9.77,18603.91,163.20,51357.97,7.87
4628,Mcallen,2008,8.33,19007.76,148.80,52943.61,7.31

In [23]:
df.describe()

,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
count,4650.000000,930.000000,3974.000000,4215.000000,3934.000000,4570.000000
mean,2007.000000,10.551398,37756.897725,539.565848,81455.477692,6.703803
std,4.320958,7.323933,14803.840039,962.157729,28481.251453,4.085292
min,2000.000000,0.700000,6049.830000,0.000000,16301.610000,0.240000
25%,2003.000000,5.260000,28277.207500,40.470000,62993.030000,4.120000
50%,2007.000000,8.450000,36807.360000,195.110000,81163.410000,5.670000
75%,2011.000000,14.417500,47578.545000,561.345000,100164.232500,8.180000
max,2014.000000,52.100000,86730.270000,6660.620000,170584.800000,35.700000

# 2. Groupby
- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

For instance, if we have data on temperatures by country and month and we want to calculate the mean temperature for each country:
- We split the data by country
- We calculate the mean for each group
- We combine all of it. 

Luckily, python can make this easier (in one line).

In [9]:
df = pd.read_csv("./data/cities_cleaned.tsv",sep="\t")
df.head()

,Metropolitan areas,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
0,Vienna,2000,12.77,45434.48,255.17,94254.60,4.77
1,Vienna,2001,NaN,45479.15,252.68,94805.82,4.83
2,Vienna,2002,NaN,46065.50,250.22,100463.10,5.82
3,Vienna,2003,NaN,45470.92,247.77,97851.61,6.24
4,Vienna,2004,NaN,46148.38,245.34,102259.13,7.20

## 2.1 Describe the data by group

In [24]:
df.groupby(["Metropolitan areas"]).describe()

                   CO2_PC                                                     \
                    count       mean       std    min     25%    50%     75%
Metropolitan areas
Aachen                3.0  27.953333  2.538510  25.04  27.085  29.13  29.410
Acapulco de Juárez    3.0   1.580000  0.111355   1.46   1.530   1.60   1.640
Adelaide              3.0   7.813333  0.292632   7.62   7.645   7.67   7.910
Aguascalientes        3.0   1.180000  0.052915   1.12   1.160   1.20   1.210
Akron                 3.0  15.203333  0.441173  14.71  15.025  15.34  15.450
Albany                3.0  12.243333  0.570993  11.60  12.020  12.44  12.565
Albuquerque           3.0  11.033333  0.970069  10.07  10.545  11.02  11.515
Amsterdam             3.0  15.570000  0.443959  15.06  15.420  15.78  15.825
Anjo                  3.0  18.336667  3.037455  14.83  17.430  20.03  20.090
Antwerp               3.0  15.330000  0.624500  14.83  14.980  15.13  15.580
Athens                3.0   4.926667  0.326548   4.55   4.825   5.10   5.115
Atlanta               3.0  12.003333  1.393461  10.67  11.280  11.89  12.670
Augsburg              3.0   5.713333  0.058595   5.67   5.680   5.69   5.735
Austin                3.0  11.493333  0.983328  10.36  11.180  12.00  12.060
Australia             3.0  19.856667  0.335012  19.52  19.690  19.86  20.025
Austria               3.0   9.946667  0.918386   8.92   9.575  10.23  10.460
Baltimore             3.0  15.186667  0.970275  14.28  14.675  15.07  15.640
Barcelona             3.0   5.823333  0.313422   5.56   5.650   5.74   5.955
Bari                  3.0   3.253333  0.081445   3.16   3.225   3.29   3.300
Basel                 3.0   5.450000  0.085440   5.36   5.410   5.46   5.495
Baton Rouge           3.0  35.070000  2.756302  32.05  33.880  35.71  36.580
Belgium               3.0  11.590000  0.540648  11.17  11.285  11.40  11.800
Benito Juárez         3.0   1.763333  0.231157   1.62   1.630   1.64   1.835
Berlin                3.0  12.236667  0.272091  12.06  12.080  12.10  12.325
Bilbao                3.0   8.013333  0.966713   6.96   7.590   8.22   8.540
Birmingham (UK)       3.0   6.950000  0.484974   6.51   6.690   6.87   7.170
Birmingham (US)       3.0  28.066667  2.481256  25.39  26.955  28.52  29.405
Bochum                3.0  22.306667  0.668306  21.68  21.955  22.23  22.620
Bologna               3.0   6.866667  0.402534   6.41   6.715   7.02   7.095
Bonn                  3.0   5.813333  0.055076   5.75   5.795   5.84   5.845
...                   ...        ...       ...    ...     ...    ...     ...
Torreón               3.0   0.996667  0.020817   0.98   0.985   0.99   1.005
Toulon                3.0   3.863333  0.130128   3.73   3.800   3.87   3.930
Toulouse              3.0   6.886667  0.455009   6.43   6.660   6.89   7.115
Toyama                3.0  18.146667  1.228061  17.34  17.440  17.54  18.550
Toyohashi             3.0   4.923333  0.282194   4.60   4.825   5.05   5.085
Tucson                3.0  12.116667  0.916642  11.17  11.675  12.18  12.590
Tulsa                 3.0  30.236667  2.055051  28.87  29.055  29.24  30.920
Turin                 3.0   8.343333  0.337095   8.07   8.155   8.24   8.480
Tuxtla Gutiérrez      3.0   2.636667  0.075719   2.55   2.610   2.67   2.680
Ulsan                 3.0  28.863333  5.969224  22.27  26.345  30.42  32.160
United Kingdom        3.0   8.983333  0.298385   8.64   8.885   9.13   9.155
United States         3.0  19.396667  1.463637  17.76  18.805  19.85  20.215
Utrecht               3.0   6.796667  0.378990   6.39   6.625   6.86   7.000
Utsunomiya            3.0   5.493333  0.374210   5.07   5.350   5.63   5.705
Valencia              3.0   5.456667  0.232451   5.28   5.325   5.37   5.545
Valparaíso            3.0   2.236667  0.100167   2.16   2.180   2.20   2.275
Vancouver             3.0  14.123333  0.611746  13.44  13.875  14.31  14.465
Venice                3.0  26.506667  2.243219  24.81  25.235  25.66  27.355
Veracruz              3.0   1.510000  0.043589   1.48   1.485   1.49   1.525
Vienna                3.0  14.140000  1.327290  12.77  13.500  14.23  14.825
Wakayama              3.0   6.783333  0.210317   6.58   6.675   6.77   6.885
Warsaw                3.0   7.930000  0.357911   7.64   7.730   7.82   8.075
Washington            3.0  14.530000  1.603371  12.99  13.700  14.41  15.300
Wichita               3.0  13.513333  0.941771  12.54  13.060  13.58  14.000
Winnipeg              3.0  14.320000  0.822375  13.41  13.975  14.54  14.775
Wroclaw               3.0   7.113333  0.281839   6.89   6.955   7.02   7.225
Xalapa                3.0   3.743333  0.439811   3.26   3.555   3.85   3.985
Yokkaichi             3.0  21.920000  2.005069  20.63  20.765  20.90  22.565
Zaragoza              3.0   5.376667  0.630582   4.80   5.040   5.28   5.665
Zurich                3.0   6.656667  0.130512   6.51   6.605   6.70   6.730

                          GDP_PC                 ...    UNEMP_R         Year  \
                      max  count          mean   ...        75%    max count
Metropolitan areas                               ...
Aachen              29.69   13.0  31460.207692   ...     8.8750  11.17  15.0
Acapulco de Juárez   1.68   11.0   7424.196364   ...     1.5900   2.45  15.0
Adelaide             8.15   14.0  35516.405000   ...     6.2425   7.62  15.0
Aguascalientes       1.22   11.0  15485.192727   ...     5.8900   7.19  15.0
Akron               15.56   13.0  44450.320769   ...     7.1000   9.95  15.0
Albany              12.69   13.0  47955.890769   ...     6.7300   7.43  15.0
Albuquerque         12.01   13.0  45762.753846   ...     7.1250   8.33  15.0
Amsterdam           15.87   14.0  50425.367857   ...     5.0450   7.55  15.0
Anjo                20.15   12.0  40058.499167   ...     4.1250   4.55  15.0
Antwerp             16.03   14.0  44564.797143   ...     5.9950   6.11  15.0
Athens               5.13   14.0  38465.427857   ...    15.2850  28.68  15.0
Atlanta             13.45   13.0  62352.106923   ...     8.3300  10.03  15.0
Augsburg             5.78   13.0  38662.239231   ...     6.0075   7.74  15.0
Austin              12.12   13.0  51159.666154   ...     5.9450   7.09  15.0
Australia           20.19   14.0  40941.437857   ...     5.9950   6.74  15.0
Austria             10.69   14.0  40790.056429   ...     5.3150   5.83  15.0
Baltimore           16.21   13.0  55227.996923   ...     7.4300   8.74  15.0
Barcelona            6.17   13.0  38436.888462   ...    18.4700  23.10  15.0
Bari                 3.31   13.0  26312.719231   ...    14.6450  20.44  15.0
Basel                5.53    5.0  52921.718000   ...     5.2325   5.24  15.0
Baton Rouge         37.45   13.0  51513.620000   ...     6.2900   7.32  15.0
Belgium             12.20   14.0  38482.214286   ...     8.2700   8.52  15.0
Benito Juárez        2.03   11.0  19768.891818   ...     4.5050   5.34  15.0
Berlin              12.55   13.0  34367.330769   ...    17.4200  19.41  15.0
Bilbao               8.86   13.0  37844.087692   ...    13.9700  17.89  15.0
Birmingham (UK)      7.47   14.0  32400.085000   ...    11.3700  11.94  15.0
Birmingham (US)     30.29   13.0  56480.704615   ...     6.0050   8.85  15.0
Bochum              23.01   13.0  33044.547692   ...     9.6100  11.81  15.0
Bologna              7.17   13.0  48666.083077   ...     4.7850   8.16  15.0
Bonn                 5.85   13.0  43240.334615   ...     6.5500   7.67  15.0
...                   ...    ...           ...   ...        ...    ...   ...
Torreón              1.02   11.0  17090.599091   ...     5.7250   6.94  15.0
Toulon               3.99   13.0  28443.500000   ...    11.4750  15.37  15.0
Toulouse             7.34   13.0  39341.239231   ...     9.0850  11.29  15.0
Toyama              19.56   12.0  35852.190000   ...     3.6800   3.98  15.0
Toyohashi            5.12   12.0  40058.499167   ...     4.1250   4.55  15.0
Tucson              13.00   13.0  34063.154615   ...     7.2000   9.39  15.0
Tulsa               32.60   13.0  49406.199231   ...     5.9350   7.73  15.0
Turin                8.72   13.0  40492.490000   ...     9.1850  12.93  15.0
Tuxtla Gutiérrez     2.69   11.0   6347.320000   ...     2.1650   3.35  15.0
Ulsan               33.90   14.0  59652.931429   ...     3.5250   4.18  15.0
United Kingdom       9.18   14.0  35724.778571   ...     7.5350   8.04  15.0
United States       20.58   15.0  47898.655333   ...     7.7250   9.63  15.0
Utrecht              7.14   14.0  51959.468571   ...     4.0750   6.39  15.0
Utsunomiya           5.78   12.0  34175.088333   ...     4.4150   4.74  15.0
Valencia             5.72   13.0  30845.770769   ...    23.1850  27.70  15.0
Valparaíso           2.35   14.0  14601.532857   ...    13.4000  14.99  15.0
Vancouver           14.62   14.0  38321.427857   ...     7.2750   7.79  15.0
Venice              29.05   13.0  40084.513077   ...     5.9300   9.39  15.0
Veracruz             1.56   11.0  11106.818182   ...     3.0900   3.66  15.0
Vienna              15.42   13.0  46795.176923   ...     6.9275   7.37  15.0
Wakayama             7.00   12.0  29904.290833   ...     4.1250   4.89  15.0
Warsaw               8.33   13.0  36336.709231   ...    14.5400  16.71  15.0
Washington          16.19   13.0  74327.070000   ...     5.5650   6.48  15.0
Wichita             14.42   13.0  45210.546923   ...     6.8800   8.80  15.0
Winnipeg            15.01   14.0  35345.445000   ...     5.6500   5.82  15.0
Wroclaw              7.43   13.0  23515.091538   ...    23.4550  26.71  15.0
Xalapa               4.12   11.0  11106.818182   ...     3.0900   3.66  15.0
Yokkaichi           24.23   12.0  34175.006667   ...     4.0050   4.36  15.0
Zaragoza             6.05   13.0  35222.715385   ...    16.9350  22.47  15.0
Zurich               6.76    5.0  62294.066000   ...     4.2225   4.32  15.0


                      mean       std     min     25%     50%     75%     max
Metropolitan areas
Aachen              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Acapulco de Juárez  2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Adelaide            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Aguascalientes      2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Akron               2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Albany              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Albuquerque         2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Amsterdam           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Anjo                2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Antwerp             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Athens              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Atlanta             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Augsburg            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Austin              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Australia           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Austria             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Baltimore           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Barcelona           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Bari                2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Basel               2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Baton Rouge         2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Belgium             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Benito Juárez       2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Berlin              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Bilbao              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Birmingham (UK)     2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Birmingham (US)     2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Bochum              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Bologna             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Bonn                2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
...                    ...       ...     ...     ...     ...     ...     ...
Torreón             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Toulon              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Toulouse            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Toyama              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Toyohashi           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Tucson              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Tulsa               2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Turin               2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Tuxtla Gutiérrez    2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Ulsan               2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
United Kingdom      2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
United States       2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Utrecht             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Utsunomiya          2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Valencia            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Valparaíso          2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Vancouver           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Venice              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Veracruz            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Vienna              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Wakayama            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Warsaw              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Washington          2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Wichita             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Winnipeg            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Wroclaw             2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Xalapa              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Yokkaichi           2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Zaragoza            2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0
Zurich              2007.0  4.472136  2000.0  2003.5  2007.0  2010.5  2014.0

[310 rows x 48 columns]

## 5.2 Calculate the mean

In [25]:
df.groupby(["Metropolitan areas"]).mean()

,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
Metropolitan areas,,,,,,
Aachen,2007,27.953333,31460.207692,246.048000,74734.025000,7.729286
Acapulco de Juárez,2007,1.580000,7424.196364,752.199333,19944.554545,1.260667
Adelaide,2007,7.813333,35516.405000,30.683333,72122.112857,5.827143
Aguascalientes,2007,1.180000,15485.192727,244.816000,40801.903636,4.614667
Akron,2007,15.203333,44450.320769,1285.302000,90121.096154,6.498667
Albany,2007,12.243333,47955.890769,1869.538667,96736.008462,5.154667
Albuquerque,2007,11.033333,45762.753846,72.881333,103416.270000,5.710000
Amsterdam,2007,15.570000,50425.367857,221.331333,97714.075000,4.310667
Anjo,2007,18.336667,40058.499167,0.879333,77014.592500,3.593333
Antwerp,2007,15.330000,44564.797143,320.847333,106720.710714,5.353333
Athens,2007,4.926667,38465.427857,0.954667,91596.909286,13.598000
Atlanta,2007,12.003333,62352.106923,113.546000,124066.083077,6.289333
Augsburg,2007,5.713333,38662.239231,754.427333,80356.434167,4.953571
Austin,2007,11.493333,51159.666154,179.048667,99068.212308,5.143333
Australia,2007,19.856667,40941.437857,NaN,83621.735714,5.460667
Austria,2007,9.946667,40790.056429,NaN,86885.145000,4.968000
Baltimore,2007,15.186667,55227.996923,1004.382667,113522.411538,5.883333
Barcelona,2007,5.823333,38436.888462,2.476000,86242.520769,13.196000
Bari,2007,3.253333,26312.719231,0.748667,78431.851538,13.220000
Basel,2007,5.450000,52921.718000,378.550000,107769.220000,5.180000
Baton Rouge,2007,35.070000,51513.620000,868.588667,114893.544615,5.613333
Belgium,2007,11.590000,38482.214286,NaN,94895.423571,7.578667
Benito Juárez,2007,1.763333,19768.891818,233.836667,41280.110909,3.092000
Berlin,2007,12.236667,34367.330769,207.806000,76987.699167,14.386429
Bilbao,2007,8.013333,37844.087692,213.098000,90567.050769,12.092667
Birmingham (UK),2007,6.950000,32400.085000,147.202000,77042.072857,9.111333
Birmingham (US),2007,28.066667,56480.704615,1217.560000,122066.246923,5.121333
Bochum,2007,22.306667,33044.547692,26.840000,76824.016667,8.478571
Bologna,2007,6.866667,48666.083077,191.722000,108097.491538,3.993333
Bonn,2007,5.813333,43240.334615,116.446000,98477.196667,5.722857
...,...,...,...,...,...,...
Torreón,2007,0.996667,17090.599091,60.384000,44256.214545,4.822000
Toulon,2007,3.863333,28443.500000,13.961333,81735.724615,10.820000
Toulouse,2007,6.886667,39341.239231,189.278667,88566.120769,8.779333
Toyama,2007,18.146667,35852.190000,331.498667,69005.213333,3.315333
Toyohashi,2007,4.923333,40058.499167,31.177333,77014.620000,3.593333
Tucson,2007,12.116667,34063.154615,1.147333,75521.850000,5.908667
Tulsa,2007,30.236667,49406.199231,2220.866667,107918.346154,5.078000
Turin,2007,8.343333,40492.490000,245.086667,96467.366923,7.490000
Tuxtla Gutiérrez,2007,2.636667,6347.320000,1247.759333,17402.096364,2.104667
Ulsan,2007,28.863333,59652.931429,59.564667,124672.112857,3.146667
United Kingdom,2007,8.983333,35724.778571,NaN,75903.469286,6.040000
United States,2007,19.396667,47898.655333,NaN,102356.910000,6.374000
Utrecht,2007,6.796667,51959.468571,243.546667,99097.716429,3.582000
Utsunomiya,2007,5.493333,34175.088333,91.294000,66569.900833,4.022667
Valencia,2007,5.456667,30845.770769,15.856000,72337.290769,15.946667
Valparaíso,2007,2.236667,14601.532857,3.751333,37208.349286,10.676667
Vancouver,2007,14.123333,38321.427857,111.542000,72373.997857,6.317333
Venice,2007,26.506667,40084.513077,1.192667,95415.088462,5.549333
Veracruz,2007,1.510000,11106.818182,592.145333,29269.259091,2.636667
Vienna,2007,14.140000,46795.176923,238.312667,99497.983846,6.237857
Wakayama,2007,6.783333,29904.290833,38.610667,64189.898333,3.836000
Warsaw,2007,7.930000,36336.709231,1055.138667,85614.185385,10.908000
Washington,2007,14.530000,74327.070000,1092.193333,139855.553846,4.381333
Wichita,2007,13.513333,45210.546923,42.747333,95510.556923,5.990000
Winnipeg,2007,14.320000,35345.445000,4798.134667,64620.388571,5.266667
Wroclaw,2007,7.113333,23515.091538,603.150667,65119.701538,16.655333
Xalapa,2007,3.743333,11106.818182,516.716667,29269.303636,2.636000
Yokkaichi,2007,21.920000,34175.006667,27.490000,68554.737500,3.377333
Zaragoza,2007,5.376667,35222.715385,58.720667,81204.056154,11.164000
Zurich,2007,6.656667,62294.066000,284.436000,110918.333333,3.975000

## 5.3 Iterate over all groups

In [27]:
i = 0
for city,data in df.groupby(["Metropolitan areas"]):
    if i == 2:  break
    print(city)
    display(data.head())
    i += 1

Aachen

,Metropolitan areas,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
915,Aachen,2000,25.04,29825.35,242.74,NaN,NaN
916,Aachen,2001,NaN,28392.52,243.26,71188.06,5.95
917,Aachen,2002,NaN,30473.22,243.77,76601.08,7.04
918,Aachen,2003,NaN,29953.71,244.27,75620.74,8.88
919,Aachen,2004,NaN,30835.49,244.76,77324.53,9.54

Acapulco de Juárez

,Metropolitan areas,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
2910,Acapulco de Juárez,2000,1.46,NaN,815.56,NaN,1.04
2911,Acapulco de Juárez,2001,NaN,NaN,806.04,NaN,0.24
2912,Acapulco de Juárez,2002,NaN,NaN,796.64,NaN,0.76
2913,Acapulco de Juárez,2003,NaN,7104.11,787.34,19959.84,0.46
2914,Acapulco de Juárez,2004,NaN,7331.72,778.16,20824.04,0.67

## 5.4 Apply a custom variable

In [28]:
df.groupby(["Metropolitan areas"]).apply(np.mean)

,Year,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R
Metropolitan areas,,,,,,
Aachen,2007.0,27.953333,31460.207692,246.048000,74734.025000,7.729286
Acapulco de Juárez,2007.0,1.580000,7424.196364,752.199333,19944.554545,1.260667
Adelaide,2007.0,7.813333,35516.405000,30.683333,72122.112857,5.827143
Aguascalientes,2007.0,1.180000,15485.192727,244.816000,40801.903636,4.614667
Akron,2007.0,15.203333,44450.320769,1285.302000,90121.096154,6.498667
Albany,2007.0,12.243333,47955.890769,1869.538667,96736.008462,5.154667
Albuquerque,2007.0,11.033333,45762.753846,72.881333,103416.270000,5.710000
Amsterdam,2007.0,15.570000,50425.367857,221.331333,97714.075000,4.310667
Anjo,2007.0,18.336667,40058.499167,0.879333,77014.592500,3.593333
Antwerp,2007.0,15.330000,44564.797143,320.847333,106720.710714,5.353333
Athens,2007.0,4.926667,38465.427857,0.954667,91596.909286,13.598000
Atlanta,2007.0,12.003333,62352.106923,113.546000,124066.083077,6.289333
Augsburg,2007.0,5.713333,38662.239231,754.427333,80356.434167,4.953571
Austin,2007.0,11.493333,51159.666154,179.048667,99068.212308,5.143333
Australia,2007.0,19.856667,40941.437857,NaN,83621.735714,5.460667
Austria,2007.0,9.946667,40790.056429,NaN,86885.145000,4.968000
Baltimore,2007.0,15.186667,55227.996923,1004.382667,113522.411538,5.883333
Barcelona,2007.0,5.823333,38436.888462,2.476000,86242.520769,13.196000
Bari,2007.0,3.253333,26312.719231,0.748667,78431.851538,13.220000
Basel,2007.0,5.450000,52921.718000,378.550000,107769.220000,5.180000
Baton Rouge,2007.0,35.070000,51513.620000,868.588667,114893.544615,5.613333
Belgium,2007.0,11.590000,38482.214286,NaN,94895.423571,7.578667
Benito Juárez,2007.0,1.763333,19768.891818,233.836667,41280.110909,3.092000
Berlin,2007.0,12.236667,34367.330769,207.806000,76987.699167,14.386429
Bilbao,2007.0,8.013333,37844.087692,213.098000,90567.050769,12.092667
Birmingham (UK),2007.0,6.950000,32400.085000,147.202000,77042.072857,9.111333
Birmingham (US),2007.0,28.066667,56480.704615,1217.560000,122066.246923,5.121333
Bochum,2007.0,22.306667,33044.547692,26.840000,76824.016667,8.478571
Bologna,2007.0,6.866667,48666.083077,191.722000,108097.491538,3.993333
Bonn,2007.0,5.813333,43240.334615,116.446000,98477.196667,5.722857
...,...,...,...,...,...,...
Torreón,2007.0,0.996667,17090.599091,60.384000,44256.214545,4.822000
Toulon,2007.0,3.863333,28443.500000,13.961333,81735.724615,10.820000
Toulouse,2007.0,6.886667,39341.239231,189.278667,88566.120769,8.779333
Toyama,2007.0,18.146667,35852.190000,331.498667,69005.213333,3.315333
Toyohashi,2007.0,4.923333,40058.499167,31.177333,77014.620000,3.593333
Tucson,2007.0,12.116667,34063.154615,1.147333,75521.850000,5.908667
Tulsa,2007.0,30.236667,49406.199231,2220.866667,107918.346154,5.078000
Turin,2007.0,8.343333,40492.490000,245.086667,96467.366923,7.490000
Tuxtla Gutiérrez,2007.0,2.636667,6347.320000,1247.759333,17402.096364,2.104667
Ulsan,2007.0,28.863333,59652.931429,59.564667,124672.112857,3.146667
United Kingdom,2007.0,8.983333,35724.778571,NaN,75903.469286,6.040000
United States,2007.0,19.396667,47898.655333,NaN,102356.910000,6.374000
Utrecht,2007.0,6.796667,51959.468571,243.546667,99097.716429,3.582000
Utsunomiya,2007.0,5.493333,34175.088333,91.294000,66569.900833,4.022667
Valencia,2007.0,5.456667,30845.770769,15.856000,72337.290769,15.946667
Valparaíso,2007.0,2.236667,14601.532857,3.751333,37208.349286,10.676667
Vancouver,2007.0,14.123333,38321.427857,111.542000,72373.997857,6.317333
Venice,2007.0,26.506667,40084.513077,1.192667,95415.088462,5.549333
Veracruz,2007.0,1.510000,11106.818182,592.145333,29269.259091,2.636667
Vienna,2007.0,14.140000,46795.176923,238.312667,99497.983846,6.237857
Wakayama,2007.0,6.783333,29904.290833,38.610667,64189.898333,3.836000
Warsaw,2007.0,7.930000,36336.709231,1055.138667,85614.185385,10.908000
Washington,2007.0,14.530000,74327.070000,1092.193333,139855.553846,4.381333
Wichita,2007.0,13.513333,45210.546923,42.747333,95510.556923,5.990000
Winnipeg,2007.0,14.320000,35345.445000,4798.134667,64620.388571,5.266667
Wroclaw,2007.0,7.113333,23515.091538,603.150667,65119.701538,16.655333
Xalapa,2007.0,3.743333,11106.818182,516.716667,29269.303636,2.636000
Yokkaichi,2007.0,21.920000,34175.006667,27.490000,68554.737500,3.377333
Zaragoza,2007.0,5.376667,35222.715385,58.720667,81204.056154,11.164000
Zurich,2007.0,6.656667,62294.066000,284.436000,110918.333333,3.975000

In [29]:
def diff(column_values):
    diff = np.max(column_values)-np.min(column_values)
    return diff

df.groupby(["Metropolitan areas"]).apply(diff)

,CO2_PC,GDP_PC,GREEN_AREA_PC,LABOUR_PRODUCTIVITY,UNEMP_R,Year
Metropolitan areas,,,,,,
Aachen,4.65,5361.53,6.26,8161.92,5.82,14.0
Acapulco de Juárez,0.22,533.71,123.58,4058.88,2.21,14.0
Adelaide,0.53,5571.68,4.14,20802.33,2.91,14.0
Aguascalientes,0.10,1820.46,87.54,4116.48,4.80,14.0
Akron,0.85,5557.79,3.71,13683.53,5.80,14.0
Albany,1.09,5240.12,138.62,18095.83,4.00,14.0
Albuquerque,1.94,8525.21,20.04,12630.66,4.89,14.0
Amsterdam,0.81,5107.24,28.47,10839.43,5.65,14.0
Anjo,5.32,6809.52,0.13,13161.28,1.91,14.0
Antwerp,1.20,4951.35,29.27,6500.52,1.89,14.0
Athens,0.58,13360.03,0.04,16095.16,22.00,14.0
Atlanta,2.78,8350.95,31.64,6989.55,7.02,14.0
Augsburg,0.11,6146.32,35.14,8137.79,4.77,14.0
Austin,1.76,4330.94,80.09,14901.68,4.05,14.0
Australia,0.67,7796.16,NaN,11343.82,2.51,14.0
Austria,1.77,5596.06,NaN,7760.40,1.82,14.0
Baltimore,1.93,7187.47,64.54,15531.68,4.87,14.0
Barcelona,0.61,5097.99,0.38,14337.38,16.51,14.0
Bari,0.15,2781.65,0.02,6491.32,11.66,14.0
Basel,0.17,1853.07,22.29,888.84,0.14,14.0
Baton Rouge,5.40,17490.01,131.13,40349.92,3.63,14.0
Belgium,1.03,4194.54,NaN,7487.59,2.34,14.0
Benito Juárez,0.41,2946.28,153.20,11112.36,4.27,14.0
Berlin,0.49,5783.69,3.26,3559.77,10.63,14.0
Bilbao,1.90,6504.67,10.58,10692.75,10.71,14.0
Birmingham (UK),0.96,3172.42,17.04,6633.50,4.87,14.0
Birmingham (US),4.90,5282.17,110.32,19909.26,5.82,14.0
Bochum,1.33,6257.46,3.50,10563.56,5.70,14.0
Bologna,0.76,4703.27,15.72,12111.94,5.99,14.0
Bonn,0.10,8563.54,2.28,10635.30,3.40,14.0
...,...,...,...,...,...,...
Torreón,0.04,2778.07,16.38,3300.88,4.18,14.0
Toulon,0.26,3629.24,1.15,14567.23,6.81,14.0
Toulouse,0.91,5815.93,45.82,10374.59,4.62,14.0
Toyama,2.22,3961.89,1.14,9232.89,1.31,14.0
Toyohashi,0.52,6809.52,0.98,13161.42,1.91,14.0
Tucson,1.83,5352.68,0.24,10438.81,5.83,14.0
Tulsa,3.73,14307.82,268.92,36254.35,4.79,14.0
Turin,0.65,3967.33,12.39,7187.31,8.73,14.0
Tuxtla Gutiérrez,0.14,482.69,488.95,2066.69,1.84,14.0
Ulsan,11.63,26729.94,7.50,42289.10,2.05,14.0
United Kingdom,0.54,5666.53,NaN,9599.32,3.44,14.0
United States,2.82,5970.15,NaN,17149.83,5.62,14.0
Utrecht,0.75,4002.51,41.85,6708.04,5.20,14.0
Utsunomiya,0.71,4032.40,4.99,9949.14,1.39,14.0
Valencia,0.44,4984.63,3.18,9623.45,19.69,14.0
Valparaíso,0.19,6099.67,0.70,7183.93,8.04,14.0
Vancouver,1.18,5290.90,25.40,7578.28,3.76,14.0
Venice,4.24,4654.65,0.02,8659.71,6.34,14.0
Veracruz,0.08,3184.71,153.44,4289.69,1.76,14.0
Vienna,2.65,3320.95,33.18,8004.53,2.60,14.0
Wakayama,0.42,6061.57,1.86,16073.52,2.41,14.0
Warsaw,0.69,17240.05,63.81,28591.99,10.73,14.0
Washington,3.20,10440.18,238.59,24252.20,3.76,14.0
Wichita,1.88,8180.18,5.34,19671.69,4.71,14.0
Winnipeg,1.60,5774.35,610.04,9820.54,1.45,14.0
Wroclaw,0.54,13011.02,10.82,27092.46,17.58,14.0
Xalapa,0.86,3184.71,140.94,4289.30,1.76,14.0
Yokkaichi,3.60,8030.34,1.81,17161.18,2.05,14.0
Zaragoza,1.25,6687.15,11.20,11957.67,17.43,14.0
Zurich,0.25,1950.37,31.85,3009.35,0.81,14.0