In [22]:
##Some code to run at the beginning of the file, to be able to show images in the notebook
##Don't worry about this cell but run it

#Print the plots in this screen
%matplotlib inline 

#Be able to plot images saved in the hard drive
from IPython.display import Image,display

#Make the notebook wider
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:90% !important; }</style>"))

import pandas as pd
import seaborn as sns
import numpy as np
import pylab as plt

## In class 1: CONCAT
Concat df1 and df2

In [27]:
df1 = pd.DataFrame([[2001,2],[2002,3]],columns=["year","count"])
df2 = pd.DataFrame([[2003,4],[2004,3]],columns=["year","count"])
display(df1)
display(df2)

#Concat both files and shiw the resulting table
df = ....
df

   year  count
0  2001      2
1  2002      3

   year  count
0  2003      4
1  2004      3

## In class 2: MERGE INNER (default)
Inner (default) merge df1 and df2

In [132]:
df1 = pd.DataFrame([[2001,2],[2002,3]],columns=["year","count"])
df2 = pd.DataFrame([[2001,"Mexico"],[2003,"China"]],columns=["year","place"])
display(df1)
display(df2)

#Inner merge both files and show the resulting table
df = ....
df

   year  count
0  2001      2
1  2002      3

   year   place
0  2001  Mexico
1  2003   China

## In class 3: MERGE OUTER 
Outer merge df1 and df2

In [131]:
df1 = pd.DataFrame([[2001,2],[2002,3]],columns=["year","count"])
df2 = pd.DataFrame([[2001,"Mexico"],[2003,"China"]],columns=["year","place"])
display(df1)
display(df2)

#Outer merge both files  and show the resulting table
df = ...
df

   year  count
0  2001      2
1  2002      3

   year   place
0  2001  Mexico
1  2003   China

## In class 4: MELT
This dataset has variables in the column names, you'll need to melt it to have a nice, tidy dataset

In [133]:
df1 = pd.DataFrame([["Mexico",2,3,4],["China",22,12,3]],columns=["place","2000","2001","2002"])
df1

    place  2000  2001  2002
0  Mexico     2     3     4
1   China    22    12     3

In [ ]:
#Variables present in columns already
variables_already_presents = ....

#Variables to combine in one
columns_combine = ....

#Fix
melted_df1 = pd.melt(df1,id_vars=variables_already_presents,
           value_vars=columns_combine,
           var_name="Year",
           value_name="count")

#Convert the Year variable to numeric
melted_df1["Year"]  = melted_df1....

#Print
melted_df1

## In class 5: PIVOT
This dataset has several variables in one column, you'll need to pivot it to have a nice, tidy dataset

In [14]:
df1 = pd.DataFrame([["Mexico",2000,"temperature","25"],["Mexico",2001,"temperature","30"],["Mexico",2002,"temperature","35"],
                    ["Mexico",2000,"humidity","25"],["Mexico",2000,"humidity","25"],["Mexico",2000,"humidity","25"]],
                   columns=["place","year","variable","value"])
df1

    place  year     variable value
0  Mexico  2000  temperature    25
1  Mexico  2001  temperature    30
2  Mexico  2002  temperature    35
3  Mexico  2000     humidity    25
4  Mexico  2000     humidity    25
5  Mexico  2000     humidity    25

In [ ]:
#Columns already present
variables_already_present = ...

#Column with the variables
column_to_split = ...

#Column with the values
column_with_values = ...

#Fix
pivoted_df1 = df.pivot_table(column_with_values,
               variables_already_present,
               column_to_split).reset_index()

pivoted_df1

## In class 6: SCATTER + logarithmic variables
The file "data/revenue_marketCap.csv" has data on revenue and market capitalization for US publicly listed companies
- Read the file
- Plot the distributions of revenue and marketCap (sns.distplot())
- Transform the variables (take the log10)
- Fix the infinity values
- Make a scatter plot of Revenue vs MarketCap by Exchange

In [ ]:
#Read the file
us_listed = .... 
us_listed.head()

In [ ]:
#Plot the distributions of revenue and marketcap and label the plots
#Take a look at http://seaborn.pydata.org/generated/seaborn.distplot.html
sns.distplot(...)
sns.distplot(...)
plt.xlabel(...)
...

In [ ]:
#TRansform both variables
us_listed["log_Revenue"] = 
us_listed["log_MarketCap"] =

In [ ]:
#Fix the infinity values
us_listed = us_listed.replace(.....)
us_listed = us_listed.dropna()

In [ ]:
#Redo the plot with the distributions of revenue and marketcap
#Take a look at http://seaborn.pydata.org/generated/seaborn.distplot.html

In [ ]:
#Make a scatter plot

# Assignment 2
## Due date: Friday 18th
- Write your own code in the blanks. It is okay to collaborate with other students, but both students must write their own code and write the name of the other student in this cell. In case you adapt code from other sources you also must give that user credit (a comment with the link to the source suffices)
- Complete the blanks, adding comments to explain what you are doing
- Assignment 4 will be weighted more

Collaborated with:

# Problem 1 (ungraded but important). Read some tutorials
Go to the jupyter dashboard and you'll see a folder pandas-cookbook, inside you can find a folder cookbook, where the tutorials are placed. Please play with the these ones:
- Chapter 4 - Find out on which weekday people bike the most with groupby and aggregate.ipynb
- Chapter 5 - Combining dataframes and scraping Canadian weather data.ipynb
- Chapter 6 - String Operations- Which month was the snowiest.ipynb
- Chapter 7 - Cleaning up messy data.ipynb

Read about outliers:
http://www.theanalysisfactor.com/outliers-to-drop-or-not-to-drop/

# Problem 2
- Read the dataset on cities using read_our_csv() (don't forget to run that cell first)
- Make a column with the country code (use the first two letters of METRO_ID)
- Remove the rows where METRO_ID has length 3 (i.e. the rows with the average of the entire country)
- Keep the metropolitan areas in the following countries
keep_countries = ['UK', 'AU', 'IT', 'NL', 'FR', 'PL', 'GR', 'HU', 'PO', 'PT', 'AT', 'DK', 'NO','CZ', 'IE', 'DE', 'FI',  'ES',  'SW', 'CH', 'SK',  'US', 'GB', 'BE']
- Create a dictionary matching those countries to a region: "Anglosphere", "South_EU", "Eastern_EU", "Scandinavia","Rest_EU"
- Make a column with the region of the country
- Keep the years 2000 and 2010 and make a plot visualizing "GDP_PC" vs "Year" for each region. The plot must show the variability within region
- Make a pointplot visualizing "UNEMP_R" vs "Year" for each region and all years (not only 2000 and 2010). Use ci=10 for the confidence intervals.

In [28]:
def read_our_csv():
    #reading the raw data from oecd
    df = pd.read_csv("data/CITIES_19122016195113034.csv",sep="\t")

    #fixing the columns (the first one is ""METRO_ID"" instead of "METRO_ID")
    cols = list(df.columns)
    cols[0] = "METRO_ID"
    df.columns = cols
    
    #pivot the table
    column_with_values = "Value"
    column_to_split = ["VAR"]
    variables_already_present = ["METRO_ID","Metropolitan areas","Year"]
    df_fixed = df.pivot_table(column_with_values,
                 variables_already_present,
                 column_to_split).reset_index()
    
    return df_fixed

In [ ]:
#Read the dataset on cities using read_our_csv() (don't forget to run it first)

In [ ]:
#Make a column with the country code (use the first two letters of METRO_ID)

In [ ]:
#Remove the rows where METRO_ID has length 3 (i.e. the rows with the average of the entire country)

In [ ]:
#Keep the metropolitan areas in the following countries
keep_countries = ['UK', 'AU', 'IT', 'NL', 'FR', 'PL', 'GR', 'HU', 'PO', 'PT', 'AT', 'DK', 'NO','CZ', 'IE', 'DE', 'FI',  'ES',  'SW', 'CH', 'SK',  'US', 'GB', 'BE']

In [ ]:
#Create a dictionary matching those countries to a region: "Anglosphere", "South_EU", "Eastern_EU", "Scandinavia","Rest_EU"
#Usually you'd have another file with this, but here you can make the dictionary it by hand
country2region = {"UK": ...,
                 ....}

In [ ]:
#Make a column with the region of the country

In [ ]:
#Keep the years 2000 and 2010
subset2000_10 = 

#Make a plot visualizing "GDP_PC" vs "Year" for each region for the years 2000 and 2010. 
#The plot must show the variability within region
#(e.g. https://seaborn.pydata.org/generated/seaborn.violinplot.html with the split option)

In [ ]:
#Make a pointplot visualizing "UNEMP_R" vs "Year" for each region for all years. Use ci=10 for the confidence intervals.

# Problem 3
Let's look at the relationship between unemployment (%) and productivity (GDP/hours worked). In this exercise I am looking for answers that make sense logically, not for the real answer.

First answer the following questions
- Can you think of any circunstances where high unemployment causes high productivity next year?
- Can you think of any circunstances where low unemployment causes high productivity next year?
- Can you think of any circunstances where high productivity causes high unemployment next year?
- Can you think of any circunstances where low productivity causes high unemployment next year?
- Can you think of any circunstances where an external variable make productivity and unemployment correlate positively?
- Can you think of any circunstances where an external variable make productivity and unemployment correlate negatively?
      
Next use the last dataset to plot (use lmplot) the relationship between x= "LABOUR_PRODUCTIVITY" and y="UNEMP_R" for the following sets of cities:
`["Valencia","Madrid","Barcelona","Zaragoza"]
["Rome","Bari","Genova","Turin"]
["Paris","Marseille","Lille","Montpellier","Toulouse"]`
- What do you see in the plots?
- Can you think of any reason for the differences between countries?


Finally, use the argument x_partial="GDP_PC", which controls for the increase of GDP causing an increase in unemployment  (x_partial regresses GDP out of LABOUR_PRODUCTIVITY, the effect of GDP is not included in LABOUR_PRODUCTIVITY anymore). Redo the three plots
- Is there any relationship between unemployment and productivity?
- Why could explain this relationship (or this lack of relationship)?

In [ ]:
#Read the data
df = read_our_csv()

In [ ]:
#Next use the last dataset to plot (use lmplot) the relationship between x= "LABOUR_PRODUCTIVITY" and y="UNEMP_R"
#for the following sets of cities:
#    ["Valencia","Madrid","Barcelona","Zaragoza"]
#    ["Rome","Bari","Genova","Turin"]
#    ["Paris","Marseille","Lille","Montpellier","Toulouse"]

spain = df....
sns.lmplot(...)
plt.title("Spain")

italy = df....
sns.lmplot(...)
plt.title("Italy")

france = df....
sns.lmplot(...)
plt.title("France")

In [ ]:
#Finally, use the argument x_partial="GDP_PC", which controls for the increase of GDP causing an increase in unemployment  
#(x_partial regresses GDP out of LABOUR_PRODUCTIVITY, thus the effect of GDP is not included in LABOUR_PRODUCTIVITY anymore). 
#Redo the three plots
sns.lmplot(...)
sns.lmplot(...)
sns.lmplot(...)