**First run this cell:**

In [ ]:
##Some code to run at the beginning of the file, to be able to show images in the notebook
##Don't worry about this cell but run it

#Print the plots in this screen
%matplotlib inline 

#Be able to plot images saved in the hard drive
from IPython.display import Image,display

#Make the notebook wider
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:90% !important; }</style>"))

import pandas as pd
import seaborn as sns
import numpy as np
import pylab as plt

## Together
- What are the variables in the following dataset

In [1]:
%%html
<h3>Incidents in city</h3> 
<table>
    <tr> <th>year</th> <th>Amsterdam</th> <th>Brussels</th> </tr>
    <tr> <td>2010</td> <td>2</td> <td>3</td> </tr>
    <tr> <td>2011</td> <td>3</td> <td>0</td> </tr>
    <tr> <td>2012</td> <td>1</td> <td>4</td> </tr>
    <tr> <td>2013</td> <td>4</td> <td>5</td> </tr>
</table>

In [2]:
%%html
<h3>Amsterdam</h3> 
<table>
    <tr> <th>year</th> <th>variable</th> <th>value</th> </tr>
    <tr> <td>2010</td> <td>incidents</td> <td>3</td> </tr>
    <tr> <td>2011</td> <td>incidents</td> <td>3</td> </tr>
    <tr> <td>2010</td> <td>rainy days</td> <td>10</td> </tr>
    <tr> <td>2011</td> <td>rainy days</td> <td>12</td> </tr>
</table>

## In class 1 (challenging).
- Read a csv file (DONE)
- Create an empty list (DONE)
- Loop over the column names of the dataframe, convert the column name to lowercase (.lower()) and append it to the empty list
- Make the new columns

In [ ]:
#import pandas as pd
import pandas as pd

df_alcohol = pd.read_csv("data/alcohol.csv",sep="\t")
df_alcohol.head()

In [ ]:
df_alcohol.columns

In [ ]:
#Create an empty list
new_columns = []

In [ ]:
#Loop over the columns
for ............. in ...........:
    #Convert the name to lower case
    new_name = ..........lower()
    #Append it to the list of new_columns
    ...........

In [ ]:
#Change the column names of the dataframe with new_columns
........... = new_columns

In [ ]:
#Just to check if it's right
df_alcohol.head()

## In class 2
- Create a function that:
  - Takes a number as input
  - Returns: "high" if the number is greater than 1000, "low" if the number is lower or equal than 1000
- Apply the function to the column "income" of the alcohol dataset to create a column called "category"

In [ ]:
#Read the files and change the columns
df_alcohol = pd.read_csv("data/alcohol.csv",sep="\t")
df_alcohol.columns = ["adults","kids","income","consume"]
df_alcohol.head()

In [ ]:
#Create the function
def high_income(number):
    if ....:
        return ...:
    else...

In [ ]:
df_alcohol["income_cat"] = ...
df_alcohol.head()

In [ ]:
#Easier solution: df_alcohol["income_cat"] = pd.cut(df_alcohol["income"],[0,1000,10000])

## In class 3 (groupby)
- Calculate the mean income and consumption for households with 1,2,3,4,5.. adults

In [ ]:
#- Calculate the mean income and consumption for households with 1,2,3,4,5.. adults
df_alcohol...